@charset "UTF-8";

body {
    background-color: #EFEFEF;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.ul-li-text-big {
    font-size: 18px;
    list-style: square;
}