<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>码农新视界</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/newvision.css"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            var closable = window.localStorage.getItem("closable");
            if (closable == "true") {
                window.close();
                window.localStorage.removeItem("closable");
            }
        });
    </script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;发现
                <span th:text="${T(org.apache.commons.lang3.StringUtils).isNotBlank(tag)?'「'+tag+'」':''}"></span>
            </h2>
            <hr/>
            <div class="media" th:each="question : ${pagination.data}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-thumbnail media-icon" th:src="${question.user.avatarUrl}"
                             src="https://avatars1.githubusercontent.com/u/8463521?v=4">
                    </a>
                </div>
                <div class="media-body">
                    <a th:href="@{'/question/'+${question.id}}"><h4 class="media-heading" th:text="${question.title}">
                        怎么快速学会SpringBoot开发</h4></a>
                    <!-- th:text 对显示的文字长度进行处理，100个字以上的，省略显示... -->
                    <span th:text="${(question.description.length()>100?question.description.substring(0,100)+'...':question.description)}">点击学习 okliu 相关课程视频</span><br/>
                    <span class="text-desc"><span th:text="${question.commentCount}">2</span>个回复·<span
                            th:text="${question.viewCount}">31</span>次浏览·<span
                            th:text="${T(site.okliu.newvision.utils.TimeUtils).relationTime(question.gmtCreate)}">1小时前</span></span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a th:href="@{/(page=1,size=${pagination.size},search=${search},tag=${tag})}"
                           aria-label="First">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/(page=${pagination.size}-1,size=${pagination.size},search=${search},tag=${tag})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page : ${pagination.pages}" th:class="${page == pagination.page?'active':''}"><a
                            th:href="@{/(page=${page},size=${pagination.size},search=${search},tag=${tag})}"
                            th:text="${page}">1</a>
                    </li>
                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/(page=${pagination.size}+1,size=${pagination.size},search=${search},tag=${tag})}"
                           aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showLastPage}">
                        <a th:href="@{/(page=${pagination.totalPages},size=${pagination.size},search=${search},tag=${tag})}"
                           aria-label="Last">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>站长微信『码农新视界』</h3>
                <img src="/images/mnxsj.png" class="question-wechat">
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12"/>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>热门话题·Top<span th:text="${tags.size()}"></span></h3>
                <ul class="question-related">
                    <li th:each="tag,tagStatus:${tags}" class="hot-item">
                        <a th:href="@{/(page=1,size=${pagination.size},search=${search},tag=${tag.name})}">
                            <span th:text="${tag.name}" class="hot-tag"></span>
                            <span th:if="${tagStatus.index < 3}"
                                  th:class="${tagStatus.first?'glyphicon glyphicon-fire fire-first':'glyphicon glyphicon-fire'}"
                                  aria-hidden="true"></span><br>
                            问题：<span th:text="${tag.questionCount}"></span>&nbsp;&nbsp;
                            <span th:if="${tag.commentCount != 0}">回复：<span th:text="${tag.commentCount}"></span></span>&nbsp;&nbsp;
                            <span th:if="${tag.viewCount != 0}">阅读：<span th:text="${tag.viewCount}"></span></span>&nbsp;&nbsp;
                            <span th:if="${tag.likeCount != 0}">点赞：<span th:text="${tag.likeCount}"></span></span>&nbsp;
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>